body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    display: inline-block;
    text-align: left;
}

h1 {
    margin: 0;
}

.options {
    margin-top: 10px;
}

.option {
    display: block;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.option:hover {
    background-color: #0056b3;
}

.result {
    font-weight: bold;
    margin: 10px 0;
}

.next-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.next-button:hover {
    background-color: #0056b3;
}
